body{
    background-color: #393E46;
    margin: 0;
}
h1{
    font-family: 'Lobster', cursive;
    font-size: 6rem;
    color: rgb(26, 167, 192);
}
h3{
    font-family: 'Lobster', cursive;
    color: rgba(11, 11, 32, 0.747);
}
.refresh{
    text-align: center;
    margin:6% 0 0 0;
}
.container{
    text-align: center;
    margin: auto;
    width: 60%;
    height: 40%;

}
.dice{
    display: inline-block;
    padding: 3%;
    margin: 3%;
}
button{
    display: inline-block;
    text-align: center;
    margin: 3%;
    padding: 2%;
    background-color: blueviolet;
    font-size: 1.2rem;
}
